body {
    background-image: url("../Assets/img_bg_login.jpeg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#firebaseui-auth-container {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, 50%);
}

h1 {
    color: whitesmoke;
    font-size: 200%;
    letter-spacing: 20px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
}